apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: service
  namespace: system
spec:
  ports:
  - name: http
    port: 8087
    protocol: TCP
  selector:
    control-plane: controller-manager
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsUser: 1001
      containers:
      - command:
        - /ofcir-operator
        args:
        - --leader-elect
        image: ofcir.io/ofcir:latest
        imagePullPolicy: IfNotPresent
        name: ofcir-operator
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
      - command:
        - /ofcir-api
        image: ofcir.io/ofcir:latest
        imagePullPolicy: IfNotPresent
        name: ofcir-api
        securityContext:
          allowPrivilegeEscalation: false
        ports:
        - containerPort: 8087
          protocol: TCP
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
