---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager-role
  namespace: ofcir-system
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ofcir.openshift
  resources:
  - cipools
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ofcir.openshift
  resources:
  - cipools/finalizers
  verbs:
  - update
- apiGroups:
  - ofcir.openshift
  resources:
  - cipools/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ofcir.openshift
  resources:
  - ciresources
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ofcir.openshift
  resources:
  - ciresources/finalizers
  verbs:
  - update
- apiGroups:
  - ofcir.openshift
  resources:
  - ciresources/status
  verbs:
  - get
  - patch
  - update
