---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: ciresources.ofcir.openshift
spec:
  group: ofcir.openshift
  names:
    kind: CIResource
    listKind: CIResourceList
    plural: ciresources
    shortNames:
    - cir
    singular: ciresource
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Public IPv4 address
      jsonPath: .status.address
      name: Address
      type: string
    - description: Requested state
      jsonPath: .spec.state
      name: Req State
      type: string
    - description: Current state
      jsonPath: .status.state
      name: State
      type: string
    - description: Pool owning the current resource
      jsonPath: .spec.poolRef.name
      name: Pool
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: CIResource represents a physical allocated instance (or set of
          instances) from a specific pool
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CIResourceSpec defines the desired state of CIResource
            properties:
              extra:
                description: Additional information to support clusters
                type: string
              poolRef:
                description: Reference to the CIPool that is managing the current
                  CIResource
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              state:
                description: The desired state for the CIResource
                type: string
              type:
                description: The type of the current resource
                type: string
            required:
            - extra
            - poolRef
            - state
            - type
            type: object
          status:
            description: CIResourceStatus defines the observed state of CIResource
            properties:
              address:
                description: Public IPv4 address
                type: string
              lastUpdated:
                description: LastUpdated identifies when this status was last observed.
                format: date-time
                type: string
              providerInfo:
                description: Store any useful instance info specific to the current
                  provider type
                type: string
              resourceId:
                description: The unique identifier of the resource currently requested
                type: string
              state:
                description: Current state of the resource
                type: string
            required:
            - address
            - resourceId
            - state
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
